@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, rgb(144, 5, 9) 0%, rgb(189, 55, 56) 40%, rgb(182, 51, 56) 81%, rgb(202, 10, 20) 100%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

main input {
  color: #000000;
  font-size: x-large;
  text-align: center;
}
